// Размеры шрифтов (fz)
$common-text-fz: 1rem;
$big-title-fz: 1.7rem;
$medium-title-fz: 1.4rem;

// Цвета
$black-color: black;
$white-color: white;
$font-color: white;
$green: #3cd288;
$dark-green: green;
$red: #ec5f6b;
$dark-red: red;
$accent-color: #5f6dec;

$dark-primary-color: #3a3a3a;
$dark-secondary-color: #2e2e2e;
$dark-third-color: #333339;
$dark-four-color: #252525;

$light-primary-color: #dbdbdb;
$light-secondary-color: #f5f5f5;
$light-third-color: #f5f5f5;
$light-four-color: #ffffff;
