.header {
  height: 50px;
  background-color: var(--secondary-color);
  transition: background-color 0.2s;

  .header__container {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
  }

  .header__logo {
    color: inherit;
    text-decoration: none;
    transition: transform 0.2s;
    border-radius: 5px;
    background-color: var(--four-color);
    padding: 5px 10px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
  }

  .header__logo:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
}
